workflows/templates/patterns/02-http-api-integration.json
{
  "name": "Pattern 2: HTTP API Integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs every hour"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Data from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "notes": "Fetch data from external API"
    },
    {
      "parameters": {
        "functionCode": "// Transform API response\nconst items = $json.data || [];\n\nreturn items.map(item => ({\n  json: {\n    id: item.id,\n    name: item.name,\n    status: item.status,\n    processedAt: new Date().toISOString()\n  }\n}));"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Transform and structure data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-unique-url",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Destination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "notes": "Send transformed data to destination"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Data from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data from API": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Send to Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
