workflows/templates/patterns/03-database-operations.json
{
  "name": "Pattern 3: Database Operations",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs daily at midnight"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, created_at FROM users WHERE status = 'active' ORDER BY created_at DESC LIMIT 100",
        "options": {}
      },
      "name": "Query Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Query PostgreSQL database",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Process database results\nconst users = $input.all();\n\n// Aggregate data\nconst summary = {\n  total: users.length,\n  newest: users[0]?.json?.name || 'N/A',\n  oldest: users[users.length - 1]?.json?.name || 'N/A',\n  processedAt: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Process query results"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reports (type, data, created_at) VALUES ('user_summary', '{{ $json }}', NOW())",
        "options": {}
      },
      "name": "Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Save results back to database",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Query Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Database": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
