workflows/templates/patterns/04-ai-workflows.json
{
  "name": "Pattern 4: AI Workflows",
  "nodes": [
    {
      "parameters": {
        "path": "ai-assistant",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "auto-generated",
      "notes": "Receive user input"
    },
    {
      "parameters": {
        "functionCode": "// Prepare input for AI\nconst userMessage = $json.body.message || '';\nconst context = $json.body.context || '';\n\nreturn [{\n  json: {\n    prompt: `Context: ${context}\\n\\nUser: ${userMessage}\\n\\nAssistant:`,\n    userMessage: userMessage,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Format input for AI processing"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "claude-3-5-sonnet-20241022",
        "text": "={{ $json.prompt }}",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "name": "AI Processing",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Process with Claude AI",
      "credentials": {
        "anthropicApi": {
          "id": "1",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format AI response\nconst aiResponse = $json.response || '';\nconst userMessage = $('Prepare AI Input').item.json.userMessage;\n\nreturn [{\n  json: {\n    success: true,\n    input: userMessage,\n    output: aiResponse,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Format AI response for output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Send response back to user"
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Processing": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
